## file handling

In [2]:
# write content to a file ,write,"w"
file=open("practiceoffilehandling.txt","w")
file.write("welcome to practice of file handling")
file.close()

In [6]:
text_data="""name,age,city
Alice,25,Newyork
Bob,30,San Fracisco
Charlie,28,Los Angles"""

In [8]:
# alternative for file.close
with open("practiceoffilehandling.txt","w")as file:
    file.write(text_data)

In [12]:
with open("practiceoffilehandling.txt","r") as f:
    data =f.read()
    print(data)

name,age,city
Alice,25,Newyork
Bob,30,San Fracisco
Charlie,28,Los Angles

In [30]:
append_data="""\nIn python , the statement are usually written in a single line the last character of these line is newline."""

In [32]:
with open("practiceoffilehandling.txt","a") as f:
    data =f.write(append_data)

In [ ]:
with open("practiceoffilehandling.txt","r") as f:
    data =f.read()
    print(data)

In [36]:
# access first line of file
with open("practiceoffilehandling.txt","r") as f:
    line1=f.readline()
    print(line1)

name,age,city

In [40]:
# length of characters in file
with open("practiceoffilehandling.txt","r") as f:
    length=f.read()
    print(len(length))

394

In [42]:
with open("practiceoffilehandling.txt","r") as f:
    data_list=f.readlines()
    print(data_list)

['name,age,city\n', 'Alice,25,Newyork\n', 'Bob,30,San Fracisco\n', 'Charlie,28,Los AnglesIn python , the statement are usually written in a single line the last character of these line is newline.In python , the statement are usually written in a single line the last character of these line is newline.\n', 'In python , the statement are usually written in a single line the last character of these line is newline.']

## pickle

In [50]:
import pickle
emp_data= {"Name": ["neha", "riya", "priya", "tanuja", "shreya", "shubhngi", "amruta", "punam"],

"Location": ["pune", "chennai", "kolkata", "mumbai", "pune", "nasik", "chennai", "chennai"],

"Salary" : [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000],

"Designation": ["Data Analyst", "Business Analyst", "Data Engineer", "Data Scientist", "ML Engineer", "Data Engineer","Data Analyst","Business Analyst"],}
emp_data

{'Name': ['neha',
  'riya',
  'priya',
  'tanuja',
  'shreya',
  'shubhngi',
  'amruta',
  'punam'],
 'Location': ['pune',
  'chennai',
  'kolkata',
  'mumbai',
  'pune',
  'nasik',
  'chennai',
  'chennai'],
 'Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000],
 'Designation': ['Data Analyst',
  'Business Analyst',
  'Data Engineer',
  'Data Scientist',
  'ML Engineer',
  'Data Engineer',
  'Data Analyst',
  'Business Analyst']}

In [ ]:
with open("employee_details.pkl","rb") as file

In [54]:
with open("employee_details.pkl","wb")as file:
    pickle.dump(emp_data,file)

## unpickling

In [ ]:
import pandas as pd
with open("employee_details.pkl","rb")as file:
    data_df=pd.DataFrame(pickle.load())