# loops Questions

1. print elements of list line by line
CityData = ["Pune", "Mumbai", "Chennai", "Nagpur", "Delhi"]

2. generate  sequence of 11-20 numbers and display them line by line

3. string = "Hello Pune!!"
print each character along with its index

4. list1 = [10, 4-9j, False, "Neha", (-1, -2, -3), [100, 200], 456.98, {"a" : 1000, "b" : 2000}, True]
display each element of list along with its datatype

5. tuple1 = (123, 45.67, 8-9j, "Hello", (10,20,30, 40), [1,2,3,4,5], 11,23)
find length of above tuple WITH & WITHOUT built in function

6. print 1 to 10 numbers in a reverse way

7. print addition of first 50 numbers

8. take n from user, and find out factorial of it

9. generate sequence 0 1 1 2 3 5 8 13 21 34 55 89 ...

10 print all even numbers between 1 to 100

In [8]:
# 1. print elements of list line by line
CityData = ["Pune", "Mumbai", "Chennai", "Nagpur", "Delhi"]
for i in range(0,5):
    print(CityData[i])

Pune
Mumbai
Chennai
Nagpur
Delhi

In [10]:
# 2. generate  sequence of 11-20 numbers and display them line by line
for i in range (11,21):
    print(i)

11
12
13
14
15
16
17
18
19
20

In [14]:
# 3. string = "Hello Pune!!"
# print each character along with its index

string="Hello Pune!!"
for i in range (0,len(string)):
    print(string[i],"=",i)

H = 0
e = 1
l = 2
l = 3
o = 4
  = 5
P = 6
u = 7
n = 8
e = 9
! = 10
! = 11

In [38]:
#4. list1 = [10, 4-9j, False, "Neha", (-1, -2, -3), [100, 200], 456.98, {"a" : 1000, "b" : 2000}, True]
#display each element of list along with its datatype

list1 = [10, 4-9j, False, "Neha", (-1, -2, -3), [100, 200], 456.98, {"a": 1000, "b": 2000}, True]
for element in list1:
    print(f"Element: {element},-----------  DataType: {type(element)}")

Element: 10,-----------  DataType: <class 'int'>
Element: (4-9j),-----------  DataType: <class 'complex'>
Element: False,-----------  DataType: <class 'bool'>
Element: Neha,-----------  DataType: <class 'str'>
Element: (-1, -2, -3),-----------  DataType: <class 'tuple'>
Element: [100, 200],-----------  DataType: <class 'list'>
Element: 456.98,-----------  DataType: <class 'float'>
Element: {'a': 1000, 'b': 2000},-----------  DataType: <class 'dict'>
Element: True,-----------  DataType: <class 'bool'>

In [52]:
#5. tuple1 = (123, 45.67, 8-9j, "Hello", (10,20,30, 40), [1,2,3,4,5], 11,23)
#find length of above tuple WITH & WITHOUT built in function
tuple1 = (123, 45.67, 8-9j, "Hello", (10,20,30, 40), [1,2,3,4,5], 11,23)
print("Length of the tuple using function :",len(tuple1))
l = 0
for i in tuple1:
    l += 1
print("Length of the tuple without using function:", length)

Length of the tuple using function : 8
Length of the tuple without using function: 8

In [62]:
#6. print 1 to 10 numbers in a reverse way
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [70]:
#7. print addition of first 50 numbers
a=0
for i in range (1,51):
    a=i+a
print(a)

1275

In [82]:
#8. take n from user, and find out factorial of it  ex. 5!=5×4×3×2×1=120
n=int(input("Enter a number : "))
a=1
for i in range(1,n+1):
    a=i*a
print(a)

Enter a number :  5

120

In [5]:
#9. generate sequence 0 1 1 2 3 5 8 13 21 34 55 89 ...
# Fibonacci series 
n=int(input("Enter a number :"))
a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter a number : 12

0 1 1 2 3 5 8 13 21 34 55 89

In [96]:
#10 print all even numbers between 1 to 100
for i in range (2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100