# TASK 6/11/2024

### Q1]. Expected output 
##### --User Information--
##### Name  : your_Name
##### Age  : your_Age
##### Country:your_Country 
##### ----------------------

In [4]:
print("--User Information--")
name = "pratik gaikwad"
age = 23
Country = "India"
print("Name  :",name)
print("Age  :",age)
print("Country:",Country)
print("--------------------")

--User Information--
Name  : pratik gaikwad
Age  : 23
Country: India
--------------------

### Q2. Assign grade "A" to three students: Neha, Priya, Riya

In [26]:
Neha = Priya = Riya = '''grade "A"'''
print(Neha)

grade "A"

### Q3. Assign grade "A" to  Pratik, grade "B" to  Pranav, and grade "C" to  Priti

In [30]:
Pratik = '''grade "A"'''
Pranav = '''grade "B"'''
Priti = '''grade "C"'''

Pratik

'grade "A"'

### Q4. Assign grade "A" to Ujwal, Sakeeb, Nayan and Nishant, but assign grade "B" to Hritik.

In [32]:
Ujwal=Sakeeb=Nayan=Nishant='''grade "A"'''
Hritik='''grade "B"'''

Ujwal

'grade "A"'

### Q5. input data:
City Pune : Temperature = 25 c, Humidity = 60%
City Mumbai: Temperature = 30 c, Humidity = 50%

Expected Output:
City Pune : Temperature =  30 c, Humidity = 50%
City Mumbai: Temperature = 25 c, Humidity = 60%

In [1]:
City_PuneT,City_PuneH = "25 c","60%"
City_MumbaiT,City_MumbaiH = "30 c", "50%"

City_PuneT,City_MumbaiT=City_MumbaiT,City_PuneT
City_PuneH,City_MumbaiH=City_MumbaiH,City_PuneH

print(f"City Pune :Temperature = {City_PuneT},Humidity = {City_PuneH}")
print(f"City Mumbai :Temperature = {City_MumbaiT},Humidity = {City_MumbaiH}")

City Pune :Temperature = 30 c,Humidity = 50%
City Mumbai :Temperature = 25 c,Humidity = 60%

### Q6. What is variable? how do you define/ declare Identifiers in python

A variable in Python is a name that holds a value or reference to an object. You donâ€™t need to declare types; just assign a value (e.g., x = 5).

Identifiers
Identifiers are names for variables, functions, etc. They must:
Start with a letter or underscore (_), followed by letters, numbers, or underscores.
Be case-sensitive (e.g., Name and name are different).
Not use reserved keywords (e.g., if, for).

### Q7. What are literals? mention types of literals with examples

Literals are fixed values assigned to variables directly in Python code. They represent constant values.

Types of Literals in Python:
Numeric Literals: Numbers in various forms.
Integer: 10
Float: 3.14
Complex: 2 + 3j

String Literals: Text enclosed in quotes.
Single-line: "Hello" or 'World'
Multi-line: """This is a multi-line string"""

Boolean Literals: Represent truth values.
True, False

Special Literal: Represents the absence of a value.
None

Literal Collections: Literal representations of collections.
List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {"key": "value"}
Set: {7, 8, 9}

### Q8.print the value of the variable along with its data type
      a = 9876543210.123456789

In [59]:
a = 9876543210.123456789
print(a,type(a))

9876543210.123457 <class 'float'>