# 1. Programs on conditional statements;

### Q 1. Check if a Number is Positive, Negative, or Zero  (n = -12345.6789)

In [31]:
n=-12345.6789
if n>0:
    print(f"{n} :number is positive")
elif n<0:
     print(f"{n} :number is negative")
else :
    print(f"{n} :number is zero")

-12345.6789 :number is negative

### Q2.  Check if a Number is Even or Odd (n = 555555)

In [39]:
n=555555
if n%2==0:
    print(f"{n}: this number is even")
else:
    print(f"{n}: this number is odd")

555555: this number is odd

### Q3.  Find the Largest of Three Numbers (n1 = 12.45, n2 = 34.21, n3 = -98.76)

In [51]:
n1=12.45
n2=34.21
n3=-98.76
if n1>n2 and n1>n3:
    print(f"{n1}: this number is largest then {n2} and {n3}")
elif n2>n1 and n2>n3:
     print(f"{n2}: this number is largest then {n1} and {n3}")
else:
     print(f"{n3}: this number is largest then {n1} and {n2}")

34.21: this number is largest then 12.45 and -98.76

### Q4.  Write a Python program that evaluates a student's grade based on marks. (marks = 98)

In [73]:
marks=98
if marks>=90:
    print(f'''marks {marks}: Grade "A" ''')
elif marks>=80:
    print(f'''marks {marks}: Grade "B" ''')
elif marks>=70:
    print(f'''marks {marks}: Grade "C" ''')
elif marks>=60:
    print(f'''marks {marks}: Grade "D" ''')
elif marks>=50:
    print(f'''marks {marks}: Grade "E" ''')
elif marks>=35:
    print(f'''marks {marks}: Grade "F" ''')
else :
    print(f'''marks {marks}: "Fail" ''')

marks 98: Grade "A"

### Q5.  Check if a Number is Divisible by Another Number (n1 = 5040, n2 = 7)

In [81]:
n1=5040
n2=7
if n1%7==0:
    print(f"{n1} : this number is divisible by {n2}")
else :
    print(f"{n1} : this number is not divisible by {n2}")

5040 : this number is divisible by 7

### Q6.  Check if a Year is Leap Year (year = 2024)

In [95]:
year =2024
if (year%4==0 and year%100!=0) or (year%400==0) :
    print("leap")
else:
    print("not")

leap

# 2. Type casting case study : survey data analysis

Data:
age = "30"
satisfaction_score = "7.5"
recommend = "yes"

Tasks:
• Converts the age to an integer.
• Converts the satisfaction score to a float.
• Converts the recommendation flag to a boolean.
• Prints the converted values.

Expected Output:
***** Survey Data Analysis *****
age = 30
satisfaction_score = 7.5
recommend = True
*********************************

In [113]:
age="30"
satisfaction_score = "7.5"
recommend = "yes"

# Converts the age to an integer
age=int(age)

# Converts the satisfaction score to a float.
satisfaction_score =float(satisfaction_score)

# Converts the recommendation flag to a boolean.
recommend = bool(recommend)

# Prints the converted values.
print(f"**** Survey Data Analysis ****\nage ={age}\nsatisfaction_score ={satisfaction_score}\nrecommend ={recommend}\n******************************")

**** Survey Data Analysis ****
age =30
satisfaction_score =7.5
recommend =True
******************************

# 3. Difference between mutable and immutable with example

#### Mutable
Mutable objects can be changed after they are created. For example, in Python, lists are mutable because you can add, remove, or modify items without creating a new list.

#### immutable
Immutable objects cannot be changed after they are created. For example, strings and tuples are immutable.

# 4. comparison between all datatypes (str, list, tuple, set, dict)

### Key Difference Between List, Tuple, Set, and Dictionary in Python
#### Mutability:
string : Immutable (non-modifiable)

List: Mutable (modifiable).

Tuple: Immutable (non-modifiable).

Set: Mutable, but elements inside must be immutable.

Dictionary: Mutable; keys are immutable, but values can change.

#### Order:
string : Maintains order of elements.

List: Maintains order of elements.

Tuple: Maintains order of elements.

Set: No guaranteed order.

Dictionary: As of Python 3.7+, insertion order is preserved.

#### Uniqueness:
string : Allows duplicates.

List: Allows duplicates.

Tuple: Allows duplicates.

Set: Only unique elements.

Dictionary: Unique keys, values can be duplicated.

# 5 Solve the following 
FirstName = "Ujwal"
LastName = "Shrivastav"
City = "Pune"

Expected Output :
  Hello,  Ujwal   Shrivastav  from  Pune  Welcome to our store.

In [117]:
FirstName = "Ujwal" 
LastName = "Shrivastav" 
City = "Pune"
print(f"Hello,{FirstName} {LastName} from {City} Welcome to our store")

Hello,Ujwal Shrivastav from Pune Welcome to our store

# 6 Solve the follfollowing 
data = (100, 200, 300) 
assign each element of the tuple to three variables: x, y, and z in one line. Then, print the values of these variables

In [127]:
data =(100,200,300)
x,y,z=data[0],data[1],data[2]
print (f''' value of "x" is : {x}\n value of "y" is : {y}\n value of z is : {z}  ''')

 value of "x" is : 100
 value of "y" is : 200
 value of z is : 300

 # 7 a = 123, b= 456 swap above variables with and without 3rd variable

In [174]:
a=123
b=456
print (f''' before swapping value of "a" is {a} and "b" is {b}''')
c=a
a=b
b=c
print(f'''\n after swapping using third variable\n value of "a" is : {a}\n value of "b" is {b} ''')
a=123
b=456
a,b=b,a
print(f'''\n after swapping without using third variable\n value of "a" is : {a}\n value of "b" is {b} ''')

 before swapping value of "a" is 123 and "b" is 456

 after swapping using third variable
 value of "a" is : 456
 value of "b" is 123

 after swapping without using third variable
 value of "a" is : 456
 value of "b" is 123

# 8] Identify correct variable declaration of following :

 1. age = 25
2. user-name = "Ujwal"
3. 25age = 25
4. name = "Pranav"
5. first_name = "Pratik"
6. pi_value = 3.14
7. _hidden = True
8. 123number = 50
9. is_sunny = False
10. class = "Math"
11. user_score = 80
12. True = 5
13. total_price = 199.99
14. my-variable = 100
15. result = 500
16. int = 5
17. score = 90
18. def = 10
19. number_of_items = 50
20. @value = 10

In [167]:
age = 25                   # valid variable 
# user-name = "Ujwal"      invalid variable
# 25age = 25               invalid variable
name = "Pranav"
first_name = "Pratik"     # valid variable
pi_value = 3.14           # valid variable
_hidden = True            # valid variable
# 123number = 50          invalid variable
is_sunny = False          # valid variable
#class = "Math"           invalid variable
user_score = 80           # valid variable
# True = 5                invalid variable
total_price = 199.99    # valid variable
# my-variable = 100       invalid variable
result = 500            # valid variable
int = 5                 # valid variable
score = 90              # valid variable 
#def = 10                invalid variable
number_of_items = 50    # valid variable
# @value = 10             invalid variable
print(age , name, first_name, pi_value, _hidden, is_sunny, user_score, total_price, result ,int ,score, number_of_items)

25 Pranav Pratik 3.14 True False 80 199.99 500 5 90 50